- name: Create users and groups
  hosts: all
  become: yes
  tasks:
  - name: Create developer group
    ansible.builtin.group:
      name: developer
      state: present
  - name: Create admin group
    ansible.builtin.group:
      name: admin
      state: present
