- name: Create users and groups
  hosts: localhost
  become: yes
  tasks:
  - name: Create developer group
    ansible.builtin.group:
      name: developer
      state: present
  - name: Create admin group
    ansible.builtin.group:
      name: admin
      state: present

  - name: Give admin sudo
    ansible.builtin.copy:
      dest: /etc/sudoers.d/admin
      content: "%admin ALL=(ALL) NOPASSWD: ALL\n"
      owner: root
      group: root
      mode: '0440'

  - name: Add the user 'Hermoine'
    ansible.builtin.user:
      name: hermoine
      comment: Hermoine Granger
      uid: 1040
      group: developer
      generate_ssh_key: yes
      ssh_key_bits: 2048
      ssh_key_file: .ssh/id_rsa

  - name: Add the user 'Katniss'
    ansible.builtin.user:
      name: katniss
      comment: Katniss Everdeen
      uid: 1041
      group: developer
      generate_ssh_key: yes
      ssh_key_bits: 2048
      ssh_key_file: .ssh/id_rsa

  - name: Add the user 'Ian' 
    ansible.builtin.user:
      name: ian
      comment: Ian Kollipara
      uid: 1042
      group: admin
